<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
    <add key="repositoryPath" value="./nugetpackages" />
    <add key="globalPackagesFolder" value="./nugetpackages" />
  </config>
  <settings>
    <repositoryPath>./nugetpackages</repositoryPath>
  </settings>
    <packageSources>
        <clear />
        
        <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
         <!-- <add key="local" value="..\..\netrel\TextTemplatingNet\src\TextTemplating.Cli\nupkg" />  -->
    </packageSources>
</configuration>